@import url(https://fonts.googleapis.com/css?family=Eater);

body, #renderCanvas {
     width: 100%; 
     height: auto; 
     background-color: black;
     overflow: hidden; /* Hide scrollbars */
    }





#gamecontainer {
   width: 1200px;
   height: 800px;
   background-color: beige;
   border: 1px solid black;
   position: relative;
   margin: 0 auto; }

canvas{ position: absolute; z-index: 1 }

#HUD {
   position: absolute;
   margin: 0 auto;
   z-index: 2;
   font-family: 'Eater';
   font-size: 45px;
   pointer-events: none;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#START {
   position: relative; 
   left: 50%;
   margin-top:35%;
   margin-right: 40%;
   transform: translateX(-50%);
   cursor: pointer;
   z-index: 2;
   font-family: 'Eater';
   font-size: 45px;
   pointer-events: none;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#PAUSE {
   position: relative;
   cursor: pointer;
   right: -70%;
   margin: 0 auto;
   z-index: 2;
   font-family: 'Eater';
   font-size: 45px;
   pointer-events: none;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}


#MENU {
   position: absolute;
   cursor: pointer;
   right: 30%;
   left: 30%;
   margin: 0 auto;
   margin-top: 5%;
   z-index: 2;
   font-family: 'Eater';
   font-size: 25px;
   pointer-events: none;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: .5px;
   -webkit-text-stroke-color: black;
}
 

.sketchy {
border: 3px solid #333333;
border-radius: 5px;
background: #ffffff;
/* position: relative; */
}

input {
    display:inline-block;
}

#debugdiv{
   position: absolute;
   left: 0;
   bottom: 0;
   display: none;
}
#loadingScreen {
   position: absolute;
   width: 100%;
   height: 100%;
   color: white;
   font-size: 50px;
   text-align: center;
   background-color: #BB464Bcc;
   z-index: 9999;
}