body, #renderCanvas {
     width: 100%; 
     height: auto; 
     background-color: black;
    }
@font-face {
   font-family: DarkHeart;
   src: url('../assets/fonts/DarkHeart-Script.otf');
}
#gamecontainer {
   width: 1200px;
   height: 800px;
   background-color: beige;
   border: 1px solid black;
   position: relative;
   margin: 0 auto; }

canvas{ position: absolute; z-index: 1 }

#HUD {
   position: absolute;
   margin: 0 auto;
   z-index: 2;
   font-family: DarkHeart;
   font-size: 60px;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#START {
   position: relative; 
   left: 50%;
   margin-right: 40%;
   height: 500px;
   transform: translateX(-50%);
   cursor: pointer;
   background: rgb(143, 150, 150);
   z-index: 2;
   font-family: DarkHeart;
   font-size: 50px;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#PAUSE {
   position: relative;
   cursor: pointer;
   right: -85%;
   margin: 0 auto;
   z-index: 2;
   font-family: DarkHeart;
   font-size: 60px;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}


#MENU {
   position: absolute;
   cursor: pointer;
   right: 40%;
   margin: 0 auto;
   margin-top: 5%;
   z-index: 2;
   font-family: DarkHeart;
   font-size: 60px;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
 

.sketchy {
border: 3px solid #333333;
border-radius: 5px;
background: #ffffff;
/* position: relative; */
}

input {
    display:inline-block;
}

#debugdiv{
   position: absolute;
   left: 0;
   bottom: 0;
   display: none;
}
